{% extends 'base.html' %}
{% from "macros.html" import track %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="main-content">
    <div id="hero">
      <p><a href="{{ url_for('index') }}">set.lystr</a> helps you create the best setlist you could ever imagine!</p>
      <p>If you're in a band (like the cool kids) and need help choosing which songs to play,
        or you just want to create a killer playlist for your next party, we're here for you. </p>
      <h3>Rock on!</h3>
      <h1>Artist Spotlight</h1>
      <div id="hero-items">
        {% for x in hero %}
          <a href="{{ url_for("artists",id=x['artist']['id']) }}">
            <div class="hero-item">
              {% if 'release' in x  and x['release']['cover'] %}
                {% set front, _ = x['release']['cover'] %}
                {% if front %}
                  <div class="blurloader">
                    <img src="{{ front }}"/>
                  </div>
                {% else %}
                  <div class="blurloader">
                    <img src="{{ url_for("static",filename="img/missing_cover.png") }}"/>
                  </div>
                {% endif %}
              {% else %}
                <div class="blurloader">
                  <img src="{{ url_for("static",filename="img/missing_cover.png") }}"/>
                </div>
              {% endif %}

              <h4 class="ellipse">{{ x['artist']['name'] }}</h4>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div id="curated">
      <div id="top-dance">
        <h1>Top {{ top_dance | length }} tracks to dance to</h1>
        {% for d in top_dance %}
          <a href="{{ url_for("releases",id=d['release'],highlight=d['id']) }}">
            {{ track(d,position=loop.index) }}
          </a>
        {% endfor %}
      </div>
      <div id="staff-picks">
        <h1>Staff Picks</h1>
        {% for s in staff_picks %}
          <a href="{{ url_for("releases",id=s['release'],highlight=s['id']) }}">
            {{ track(s,position=loop.index) }}
          </a>
        {% endfor %}
      </div>
      <div id="staff-picks">
        <h1>Absolute Classics</h1>
        {% for c in classics %}
          <a href="{{ url_for("releases",id=c['release'],highlight=c['id']) }}">
            {{ track(c,position=loop.index) }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_style %}
  <style>
    #hero h1 {
      color: #EB6C13;
    }

    #hero h1, #hero h3, #hero h4, #hero p {
      text-align: center;
    }

    #hero p {
      font-weight: bold;
      color: #ffffff;
    }

    #hero p b {
      font-weight: bolder;
      color: #EB6C13;
    }

    #hero a {
      text-decoration: none;
    }

    #hero-items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      grid-gap: 1em;
      justify-items: center;
      padding: 20px 0;
      background-color: #4E5166;
    }

    .hero-item {
      text-align: center;
      width: 90%;
      min-width: 230px;
      min-height: 300px;
      margin: 0 10px;
      padding: 10px;
      border-radius: 5px;
    }

    .hero-item .blurloader {
      min-height: 250px;
    }

    .hero-item img {
      border-radius: 5px;
      filter: grayscale(20%);
      transition: filter 200ms linear, transform 200ms linear;
    }

    .hero-item:hover img {
      filter: grayscale(0);
      transform: scale(1.05);
    }

    #curated {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-gap: 1em;
    }

    #curated a {
      text-decoration: none;
    }

    #curated h1 {
      color: #EB6C13;
      text-align: center;
      border-bottom: 3px solid #323544;
      width: 90%;
    }

    #curated .metrics p, h3 {
      font-size: 0.9em;
    }
  </style>
{% endblock %}