<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set.lystr</title>
    <link rel="stylesheet" href="static/css/blurloader.css" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    {% block extra_style %} {% endblock %}
</head>
<body>
<nav>
    <a>Home</a>
    <a>Browse Artists</a>
    <a>Browse Songs</a>
</nav>
{% block content %} {% endblock %}

<script src="static/js/img-blurloader.js"></script>
{% block extra_scripts %} {% endblock %}
</body>
</html>