<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Set.lystr</title>
  <link rel="stylesheet" href="{{ url_for("static",filename="css/blurloader.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for("static",filename="css/main.css") }}" type="text/css">
  {% block extra_style %} {% endblock %}
</head>
<body>
<nav>
  <a href="{{ url_for("index") }}">Home</a>
  <a href="{{ url_for("artists") }}">Browse Artists</a>
  <a href="{{ url_for("releases") }}">Browse Releases</a>
  <a href="{{ url_for("tracks") }}">Browse Songs</a>
</nav>
{% block content %} {% endblock %}

<script src="{{ url_for("static",filename="js/img-blurloader.js") }}"></script>
{% block extra_scripts %} {% endblock %}
</body>
</html>