{% extends 'base.html' %}
{% block title %}{{ release['name'] }}{% endblock %}
{% block content %}
  <div id="release-page" class="main-content">
    <div id="release">
      {% set front, _ = release['cover'] %}
      {% if front %}
        <div class="cover blurloader">
          <img src="{{ front }}"/>
        </div>
      {% else %}
        <div class="cover blurloader">
          <img src="{{ url_for("static",filename="img/missing_cover.png") }}"/>
        </div>
      {% endif %}
      <h2>{{ release['name'] }}</h2>
      <h4>{{ release['reldate'] if release['reldate'] else "-" }}</h4>
      <a href="{{ url_for("artists",id=artist['id']) }}"><h4>More by {{ artist['name'] }}</h4></a>
    </div>
    <div id="tracks" class="line-item-list">
      {% for t,ac in tracks %}
        {% set class = "highlight" if t['id'] == highlight else "" %}
        {% set position =  t['position'] if t['position'] != -1 else "" %}
        <div class="line-item track setlist-changer">
          <form method="post" action="{{ url_for("setlist_update",track=t['id']) }}">
            <input type="hidden" name="_action" value="add"/>
            <button type="submit"><i class="icono-plus"></i></button>
          </form>
          <div class="text">
            <h3 class="ellipse {{ class }}">{{ position }} - {{ t['name'] }} ({{ t['duration'] | duration }})</h3>
            <div class="metrics">
              <p>{{ ac['chord_key'] }}/{{ ac['song_key'] }}</p>
              <p>{{ ac['danceability'] | float | round(precision=2) }}</p>
              <p>{{ ac['bpm'] | int }} </p>
              <p>{{ ac['dynamic_complexity'] | float | round(precision=2) }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extra_style %}
  <style>
    #release-page {
      display: grid;
      grid-template-columns: 1fr 3fr 5fr 1fr;
    }

    #release {
      grid-column: 2;
      max-width: 300px;
    }

    #release a h4 {
      color: #EB6C13;
    }

    #tracks {
      grid-column: 3;
    }

    .track {
      max-width: 500px;
    }

    .track button {
      margin-right: 5px;
    }

    .cover {
      height: 300px;
    }

    .cover img {
      box-shadow: 5px 5px 20px 10px #323544;
    }

    .highlight {
      animation: flash 2s forwards linear normal;
    }

    .track .text {
      display: flex;
      flex-direction: column;
    }
    .text .metrics {
      display: flex;
      flex-direction: row;
    }

    .text h3 {
      margin: 1px
    }

    .metrics p {
      color: #EB6C13;
      background-color: #ffffff;
      padding: 5px;
      border-radius: 5px;
      margin:0 3px;
    }

    @keyframes flash {
      0% {
        background-color: rgba(238, 238, 238, 0);
      }

      25% {
        background-color: rgba(238, 238, 238, 1);
      }

      50% {
        background-color: rgba(238, 238, 238, 0.5);
      }

      75% {
        background-color: rgba(238, 238, 238, 0.25);
      }

      100% {
        background: none;
      }
    }
  </style>
{% endblock %}